* {
  box-sizing: border-box;
}


body {
  background-color: #F7F6F5;
  
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

/*-----------------------FILTERING gallery-buttonS------------------*/
/* Style the gallery-buttons */
#categories{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 45px 0 45px;
}

.gallery-button {
  border: none;
  outline: none;
  background-color:#F7F6F5;
  cursor: pointer;
  margin: 5px 0 5px 0;
  color: #958C92;
}

.gallery-button:hover {
  border-bottom: 1px solid #2E1B2A; 
  text-decoration: none;
  background-color: #F7F6F5;
  color: #2E1B2A;
}

.gallery-button.active {
  border-bottom: 1px solid #2E1B2A; 
  text-decoration: none;
  background-color: #F7F6F5;
  color: #2E1B2A;
}



/* Add padding BETWEEN each category (if you want) */
.gallery-row,
.gallery-row > .category {
  padding: 8px;
}

.category {
  float: left;
  width: 100%;
  display: none; /* Hide categorys by default */
}


/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the gallery-buttons */
#categories{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 45px 0 45px;
}

.gallery-button {
  border: none;
  outline: none;
  background-color:#F7F6F5;
  cursor: pointer;
  margin: 5px 0 5px 0;
  color: #958C92;
}

/* Add a grey background color on mouse-over */
.gallery-button:hover {
  background-color: #f7f6f5f6;
}

/* Add a dark background color to the active gallery-button */
.gallery-button.active {
  border-bottom: 1px solid #2E1B2A; 
  text-decoration: none;
  background-color: #F7F6F5;
  color: #2E1B2A;
}



@media screen and (min-width: 560px) {

  .category {
    width: 33.33%;  

  }

  .gallery-row {

    display: flex;

    flex-wrap: wrap;

    margin: 0 100px 0 100px;

  }

  #categories{
    gap: 5%;
  }

.gallery-button{
  font-size: 20px;
}

.gallery-body{
  padding: 20px 200px 0 200px;
}
}


