/* CSS Reset */

html {
    box-sizing: border-box;
    font-size: 18px;
    width: 100vw;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

/* CSS Variables - colors */

:root {
    --bg-color: #F7F6F5;
    --accent-color: #6A192B;
    --third-color: #C2AC8E;
}


/* Fonts */

@font-face {
    font-family: heading;
    src: url(fonts/Denike-Regular.otf);
}


/* HTML Elements customisation */


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: heading;
}

h2 {
    font-size: 35pt;
    margin-bottom: 35px;
}

body {
    overflow-x: hidden;
    font-family: freight-big-pro, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16pt;
    background-color: var(--bg-color);
}

p {
    font-family: freight-big-pro, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16pt;
}


/* Custom Sections */

.background {
    background: linear-gradient(180deg, white 30%, var(--accent-color) 30%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-2 {
    background: linear-gradient(180deg, white 90%, var(--accent-color) 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Elements */

.btn {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: white;
    border-color: white;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 50px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
    color: var(--accent-color);
    background-color: white;
    border-color: white;
}

.align-button {
    text-align: center;
}



/* Home Page */

.hero {
    width: 100%;
}

.hero-video {
    width: 100vw;
}

.welcome {
    position: relative;
    z-index: -1;
    display: flexbox;
}

.welcome-img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.welcome-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow-wrap: normal;
    width: 30%;
}

.welcome-p {
    overflow-x: hidden;
    font-family: freight-big-pro, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16pt;
}

.white-p {
    overflow-x: hidden;
    font-family: freight-big-pro, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20pt;
    color: white;
    text-align: center;
    padding: 0 25%;
}

.impression-pics {
    display: flex;
    gap: 2%;
    justify-content: center;
    margin-bottom: 4%;
}

.about {
    display: flex;
    gap: 5%;
    margin-top: 8%;
}

.about-pic {
    text-align: right;
    padding-left: 15%;
}

.about-pic img {
    width: 100%;
    margin-top: 20%;
}

.about-cont {
    text-align: left;
    padding-bottom: 10%;
}

.about-cont p {
    padding-right: 40%;
}

.about p {
    font-family: freight-big-pro, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18pt;
}

.about .border-bottom-r {
    border-bottom: 1.5px solid black;
    width: 40vw;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.CTA {
    display: flex;
    background-color: var(--accent-color);
    color: white;
    width: 100%;
    padding-left: 15%;
    padding-top: 8%;
    gap: 10%;
}

.CTA-left {
    width: 100%;
    text-align: left;
}

.CTA-left p {
    font-family: freight-big-pro, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20pt;
}

.CTA-right {
    width: 50%;
}

.CTA .border-bottom {
    border-bottom: 1.5px solid white;
    width: 40vw;
    margin-top: 2%;
    margin-bottom: 3%;
}

.CTA-right img {
    height: 80%;
}

.cta-form {
    margin-top: 5%;
    font-family: Helvetica Light, sans-serif;
    letter-spacing: 100;
    font-weight: lighter;
    text-align: left;
}

input[type=text],
input[type=email],
select,
textarea {
    padding: 12px;
    width: 100%;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: white;
    border-color: white;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 50px;
    width: 200px;
    font-family: Helvetica Light, sans-serif;
}

input[type=submit]:hover {
    color: var(--accent-color);
    background-color: white;
    border-color: white;
}

/* -----------------------new-footer---------------------------- */
footer h3 {
    font-family: header;
    color: white;
    padding-bottom: 3%;
    text-align: center;
    font-size: 35px;
}

footer p {
    font-family: Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: large;
}

.footer-1 {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: var(--accent-color);
    width: 100%;
    padding: 1% 15% 2% 15%;
    justify-content: center;
    align-items: center;
}

.f-logo img {
    height: auto;
    width: auto;
}

.f-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 3%;
}

.f-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 0 2%;
}

.f-column {
    display: flex;
    flex-direction: column;
}

#icons svg {
    width: 70%;
    height: 70%;
    justify-content: space-between;
}

.footer-2 {
    display: flex;
    color: white;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    background-color: var(--third-color);
    padding: 1% 30%;
    font-family: Helvetica, sans-serif;
    font-size: medium;
}

.footer-2 a {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: medium;
    text-decoration: none;
}

/* -----------------------old-footer---------------------------- */
#form-footer {
    text-align: center;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}


footer img {
    width: 100%;
    height: 100%;
}

.footer-cont {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.column-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10%;
}

.column-2 {
    display: flex;
    flex-direction: column;
    padding: 0 25%;
}

.vr {
    height: 80px;
    width: 1px;
    background: white;
}

.story {
    padding: 0 15%;
}

.top-section {
    background-color: var(--third-color);
    color: white;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25%;
}

.row-pic img {
    width: 100%;
}

.row-cont {
    width: 70%;
    margin: 0 5%;
}

.story p {
    font-family: freight-big-pro, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18pt;
}

/* FAQ */

h1 {
    font-family: heading;
    font-size: 3em;

}

p {
    font-family: freight-big-pro, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18pt;
}

button {
    font-family: freight-big-pro, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18pt;
}

.faq-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--third-color);
    color: #fff;
    height: 18vh;
}


.faq-category {
    display: flex;
    justify-content: center;
    flex-direction: column;

}


/* left */

.faq-category h1 {
    margin-left: 32%;
    margin-top: 3%;
}

.border-bottom {
    border-bottom: 1.5px solid black;
    width: 40vw;
    margin-top: 2%;
    margin-bottom: 3%;
}

/* right */

.faq-category-r {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.faq-category-r h1 {
    margin-right: 32%;
    text-align: right;
    margin-top: 3%;
}

.border-bottom-r {
    border-bottom: 1.5px solid black;
    width: 40vw;
    margin-left: 60%;
    margin-top: 2%;
    margin-bottom: 3%;
}

/* accordeon */

section.accordeon-animated-1 {
    display: flex;
    justify-content: space-around;
}

section.accordeon-animated-2 {
    display: flex;
}

.accordeon-animated {
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin: 1%;
}

.accordeon-animated-button {
    background-color: white;
    box-shadow:
        1.6px 4.7px 7.1px rgba(0, 0, 0, 0.03),
        2.9px 8.6px 13.6px rgba(0, 0, 0, 0.019),
        4.2px 12.5px 20.1px rgba(0, 0, 0, 0.013),
        5.7px 17.1px 27.9px rgba(0, 0, 0, 0.008),
        8.2px 24.5px 40.7px rgba(0, 0, 0, 0.004),
        15px 45px 80px rgba(0, 0, 0, 0.001);

    cursor: pointer;
    padding: 2%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
    transition: 0.4s;
    margin: 1%;
    padding-bottom: 2%;
}

/* .active,
.accordion-animated:hover {
    background-color: var(--accent-color);
    color: white;
} */

.accordeon-animated-button:after {
    content: '\002B';
    color: #777;
    /* font-weight: bold; */
    float: right;
    margin-left: 5px;
}

/* .active:after {
    content: "\2212";
} */

.panel-animated {
    padding: 0 18px;
    margin: 5px 0;
    background-color: #F7F6F5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: freight-big-pro, serif;
    font-weight: 500;
    font-style: italic;
    font-size: 1rem;
    z-index: -1;
}

/* Contact */

.cta-roses {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    /* border: 1px solid red; */
    background-attachment: fixed;

}

.cta-roses-1 {
    background-image: url("img/07_Contact/Roses_Contact_Page.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(200deg);
    margin-top: -7%;
    margin-left: -8%;
    width: 27.5vw;
    height: 100vh;
    z-index: -1;
    /* border: 1px solid red; */

}

.cta-roses-2 {
    width: 45vw;
    height: 100vh;
    /* border: 1px solid red; */

}

.cta-roses-3 {
    background-image: url("img/07_Contact/Roses_Contact_Page.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(20deg);
    margin-top: 10%;
    margin-right: -7%;
    width: 27.5vw;
    height: 100vh;
    /* border: 1px solid red; */
    z-index: -1;

}

.contact-text {
    text-align: center;
    margin-top: 5%;
}

.cta-form {
    text-align: center;
}

.cta-extra-info {
    text-align: center;
}

/* map */

.map {
    height: 50vh;
    width: 100vw;
    margin-top: -10%;
    z-index: 1;
}

@media screen and (min-width: 1025px) {
    .impression-pics img {
        width: 22%;
        height: 22%;
    }

    .imp-1 {
        margin-top: 0;
    }

    .imp-2 {
        margin-top: 1%;
    }

    .imp-3 {
        margin-top: 3%;
    }

    .imp-4 {
        margin-top: 2%;
    }
}

@media screen and (max-width: 1024px) {
    .welcome {
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .welcome-img {
        height: 50vh;
        width: auto;
    }

    .welcome-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        overflow-wrap: normal;
        width: 60%;
    }

    .impression-pics {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .impression-pics img {
        margin: 3% 6%;
    }


    /* faq-headers */

    .faq-category h1 {
        margin-left: 0%;
        text-align: center;
        font-size: 2.9em;
    }


    .faq-category-r h1 {
        margin-right: 0%;
        text-align: center;
        font-size: 2.9em;
    }


    /* accordeon */

    section.accordeon-animated-2 {
        flex-direction: column;
    }

    .accordeon-animated {
        width: 85vw;
    }

    .accordion-animated {
        padding: 4%;
        padding-bottom: 4%;
        font-size: 0.86em;
    }

    /* contact-roses*/

    .cta-roses-1 {
        background-image: none;
        transform: rotate(0deg);
        margin-top: 0%;
        margin-left: 0%;
        width: 5vw;
        /* border: 1px solid red; */

    }

    .cta-roses-2 {
        width: 90vw;
        height: 100vh;
        /* border: 1px solid red; */

    }

    .cta-roses-3 {
        background-image: none;
        transform: rotate(0deg);
        margin-top: 0%;
        margin-right: 0%;
        width: 5vw;
        /* border: 1px solid red; */
    }

    /* price packages */

    .packages {
        display: flex;
        justify-content: center;
    }

    .packages-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-top: 2.5%;
        width: 75%;
    }

    .card0,
    .card1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 0%;
        margin-top: 4%;
        padding: 15%;
        height: 60vh;
    }

    .package-day {
        position: relative;
        bottom: 5%;
    }

    .package-description {
        text-align: center;
    }


    /* accordeon */

    section.accordeon-animated-2 {
        flex-direction: column;
    }

    .accordeon-animated {
        width: 85vw;
    }

    .accordion-animated {
        padding: 4%;
        padding-bottom: 4%;
        font-size: 0.86em;
    }

    /* EXTRA ELEMENTS */

    /* extra-elements-headers */

    .extra-elements-category h1 {
        margin-left: 0%;
        text-align: center;
        font-size: 2.9em;
    }


    .extra-elements-category-r h1 {
        margin-right: 0%;
        text-align: center;
        font-size: 2.9em;
    }


    .extra-elements-category {
        flex-direction: column;
    }

    .extra-elements-category section .extra-elements-1 {
        flex-direction: column-reverse;
    }

    .extra-elements-category section .extra-elements-1 img {
        margin-bottom: 10%;
        margin-top: 10%;
    }

    .extra-elements-category section .extra-elements-1 .extra-btn {
        margin-bottom: 30%;
    }

    /* extra elements content */

    section.extra-elements-1 {
        flex-direction: column;
    }


    .extra-element,
    .extra-element-img {
        margin: 0%;
        margin-top: 5%;
    }

    .extra-element-img {
        width: 80vw;
    }

    .extra-element {
        width: 80vw;
        align-items: center;
    }

    .extra-element-p-subheading {
        margin-top: 5%;
        text-align: center;
    }

    .extra-element p {
        text-align: center;
    }

    .extra-element h1 {
        text-align: center;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .extra-btn {
        margin-top: 20%;
    }

    .extra-btn-flex {
        display: flex;
        width: 100vw;
        height: 10vh;
        justify-content: center;
        margin-bottom: 20%;
    }
}

/* PRICES */

/* Prices Venue */

.prices {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 18vh;
}

.packages {
    display: flex;
    justify-content: center;
}

.packages-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 2.5%;
    width: 75%;
}

.card0,
.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
    border-radius: 10px;
    padding: 3%;
    height: 45vh;
}


.card0 {
    background-color: white;
    box-shadow:
        1.6px 4.7px 7.1px rgba(0, 0, 0, 0.03),
        2.9px 8.6px 13.6px rgba(0, 0, 0, 0.019),
        4.2px 12.5px 20.1px rgba(0, 0, 0, 0.013),
        5.7px 17.1px 27.9px rgba(0, 0, 0, 0.008),
        8.2px 24.5px 40.7px rgba(0, 0, 0, 0.004),
        15px 45px 80px rgba(0, 0, 0, 0.001);
    color: black;

}

.card1 {
    background-color: #6A192B;
    color: #FFFFFF;
    box-shadow:
        1.6px 4.7px 7.1px rgba(0, 0, 0, 0.03),
        2.9px 8.6px 13.6px rgba(0, 0, 0, 0.019),
        4.2px 12.5px 20.1px rgba(0, 0, 0, 0.013),
        5.7px 17.1px 27.9px rgba(0, 0, 0, 0.008),
        8.2px 24.5px 40.7px rgba(0, 0, 0, 0.004),
        15px 45px 80px rgba(0, 0, 0, 0.001);

}

.package-title {
    font-family: heading;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10%;
}

.package-price {
    font-family: heading;
    font-size: 35px;
    text-align: center;
    margin-bottom: 2%;
}

.package-day {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10%;
}

.package-description {
    font-size: 16px;
    text-align: left;
}

/* ACCORDIONS */

.others {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

/* see accordeon style in faq section */

/* OTHER SERVICES */
.o-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    width: 100vw;
    height: 30vh;
    background-color: var(--accent-color);
}

.o-services-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}


/* EXTRA ELEMENTS */

.extra-elements-category {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

/* extra elements heading */

/* left */

.extra-elements-category h1 {
    margin-left: 32%;
    margin-top: 3%;
}

.extra-elements-border-bottom {
    border-bottom: 1.5px solid black;
    width: 40vw;
    margin-top: 2%;
    margin-bottom: 3%;
}

/* right */

.extra-elements-category-r {
    display: flex;
    flex-direction: column;
}

.extra-elements-category-r h1 {
    margin-right: 32%;
    text-align: right;
    margin-top: 3%;
}

.extra-elements-border-bottom-r {
    border-bottom: 1.5px solid black;
    width: 40vw;
    margin-left: 60%;
    margin-top: 2%;
    margin-bottom: 3%;
}


/* extra elements content */

section.extra-elements {
    display: flex;
    justify-content: space-around;
}

section.extra-elements-1 {
    display: flex;
}


.extra-element,
.extra-element-img {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.extra-element-img {
    width: 25vw;
}

.extra-element {
    width: 25vw;
}

.extra-element-p-subheading {
    font-size: 1.3em;
    color: rgb(154, 151, 151);
}

.extra-element p {
    font-size: 1em;
}

.extra-element h1 {
    text-align: left;
    margin-bottom: 5%;
    margin-top: 5%;
}

.extra-btn {
    background-color: var(--accent-color);
    color: white;
    font-size: 16px;
    padding: 15px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

/*----------------THE CASTLE-----------*/

.vicinity {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 18vh;
    padding-top: 5%;
    margin: 5% 35% 5% 35%;
}

.vicinity p{
    margin-top: 5%;
}

.map-image {
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4%;
}

.thecastle-white-p{
    overflow-x: hidden;
    font-family: freight-big-pro, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20pt;
    color: white;
    text-align: center;
    padding: 0 25% 5% ;
}

.our-rooms-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding-bottom: 3%;
}

.cta-btn{
    display: flex;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 4%;
}

.tour {
    position: relative;
}

.tour-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow-wrap: normal;
    color: white;
}

.tour-heading{
    font-size: 10vh;
}

.tour-p{
    font-size: 4vh;
}


/*-----------------------FILTERING gallery-buttonS------------------*/
/* Style the gallery-buttons */
#categories{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 45px 0 45px;
  }
  
  .gallery-button {
    border: none;
    outline: none;
    cursor: pointer;
    margin: 5px 0 5px 0;
    color: #958C92;
  }
  
  .gallery-button:hover {
    border-bottom: 1px solid #2E1B2A; 
    text-decoration: none;
    color: #2E1B2A;
  }
  
  .gallery-button.active {
    border-bottom: 1px solid #2E1B2A; 
    text-decoration: none;
    color: #2E1B2A;
  }
  
  
  
  /* Add padding BETWEEN each category (if you want) */
  .gallery-row,
  .gallery-row > .category {
    padding: 8px;
  }
  
  .category {
    float: left;
    width: 100%;
    display: none; /* Hide categorys by default */
  }
  
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the gallery-buttons */
  #categories{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 45px 0 45px;
  }
  
  .gallery-button {
    border: none;
    outline: none;
    background-color:#F7F6F5;
    cursor: pointer;
    margin: 5px 0 5px 0;
    color: #958C92;
  }
  
  /* Add a grey background color on mouse-over */
  .gallery-button:hover {
    background-color: #f7f6f5f6;
  }
  
  /* Add a dark background color to the active gallery-button */
  .gallery-button.active {
    border-bottom: 1px solid #2E1B2A; 
    text-decoration: none;
    background-color: #F7F6F5;
    color: #2E1B2A;
  }
  
  
  
  @media screen and (min-width: 560px) {
  
    .category {
      width: 33.33%;  
  
    }
  
    .gallery-row {
  
      display: flex;
  
      flex-wrap: wrap;
  
      margin: 0 100px 0 100px;
  
    }
  
    #categories{
      gap: 5%;
    }
  
  .gallery-button{
    font-size: 20px;
  }
  
  .gallery-body{
    padding: 20px 200px 0 200px;
  }
  }

